/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Raleway", sans-serif;
font-family: "Inter", sans-serif; */

/* common css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
.theme-btn {
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  border-radius: 10px;
  background: #4e47ff;
  border: none;
  padding: 12px 36px;
  cursor: pointer;
  transition: all 0.5s;
}
.theme-btn:hover {
  background-color: #5a15eb;
  font-size: 18px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.bg-color {
  background: #f5f8ff;
}
/* common css end  */

.header-area {
  background-image: url(./Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.logo a img {
  width: 70%;
}
/* banner area start  */

.banner-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.banner-content h1 {
  color: #252432;
  text-align: center;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 37px;
}

/* banner area end  */
/* call to action start  */
.call-to-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 0;
}
.cta-left h3 {
  color: #252432;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cta-left p {
  color: rgba(37, 36, 50, 0.5);
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
  margin: 23px 0;
}
.cta-right-img img {
  border: 1px solid #000;
  border-radius: 48px;
}
/* call to action end */
/* counter area start  */
.counter-area {
  border-radius: 24px;
  background: rgba(78, 71, 255, 0.1);
  padding: 50px 80px;
}
.counter-content h2 {
  color: #252432;
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}
.counter-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.single-counter h3 {
  color: #4e47ff;
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.single-counter p {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* counter area end  */
/* testimonial area start  */
.testimonial-wrapper {
  padding: 100px 0;
}
.testimonial-wrapper h3 {
  color: #252432;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
}
.testimonial-items {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  gap: 20px;
}
.single-testimonial {
  border-radius: 14px;
  border: 1 solid #f2eded;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 4px 5px 5px 0px rgba(229, 222, 222, 0.56);
  padding: 20px;
}
.testimonial-text h5 {
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0;
}
.testimonial-text p {
  font-size: 14px;
  font-weight: 400;
  color: #252432;
  margin-bottom: 20px;
}
.testimonial-avatar {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.avatar-img img {
  border-radius: 50%;
}
.avatar-text h6 {
  color: #858586;
  font-weight: 700;
  font-size: 15px;
}
.avatar-text p {
  color: #858586;
  font-size: 14px;
}
/* testimonial area end  */
/* focus area start  */
.focus-area-wrapper {
  background-color: #fff;
  padding: 70px 150px;
}
.focus-area-contnt {
  text-align: center;
}
.focus-area-contnt h2 {
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 60px */
}
.focus-area-contnt p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  margin: 20px 0;
}
.focus-btn {
  font-size: 14px;
  margin-bottom: 20px;
}
.focus-area-img {
  text-align: center;
}
.focus-area-img img {
  border-radius: 48px;
}
/* focus area end  */
/* get in touch area start  */
.get-in-touch-wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 70px 0;
}
.get-in-touch-text h2 {
  color: #000;
  font-family: Raleway;
  font-size: 97px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 116.4px */
}
.get-in-touch-form p {
  margin-bottom: 10px;
}
.get-in-touch-form p label {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  margin-bottom: 20px;
}
.get-in-touch-form input[type="email"],
[type="text"] {
  width: 500px;
  border-radius: 10px;
  border: 1px solid #d6dded;
  background: #fff;
  padding: 20px 32px;
}
.get-in-touch-form input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.get-in-touch-form textarea {
  height: 135px;
  padding: 20px 32px;
  border-radius: 10px;
  border: 1px solid #d6dded;
  width: 500px;
  background: #fff;
}
.get-in-touch-form textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.get-in-touch-form input[type="email"],
[type="text"],
textarea:focus {
  outline: none;
}
.form-btn {
  width: 500px;
}
/* get in touch area end  */
